<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Amazing Amadon Store</h1>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
        <tbody>
          {%for product in products%}
          <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <form action='/amadon/buy/{{product_id}}' method='post'>
              {% csrf_token %}
              <select name='quantity'>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <input type='hidden' name='product_id' value='1' />
              <input type='submit' value='Buy!' />
            </form>
           </td>
         </tr>



        </tbody>

    </table>



  </body>
</html>
